* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fcfcff;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
/* font-family: 'Nunito', sans-serif;
font-family: 'Quicksand', sans-serif; */

@media only screen and (max-width: 1000px) {
  .swiper-slide {
    height: auto !important;
  }
}
.loaderImg {
  position: absolute;
  top: 40%;
  right: 45%;
  width: 200px;
  height: 150px;
}

/* <img className='loaderImg' src={carLoader} alt='' /> */
