table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
  width: 100%;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

.deleteEdit {
  display: flex;
  justify-content: flex-end;
  button {
    font-family: 'Nunito', sans-serif;
    height: 40px;
    width: 80px;
    border: none;
    outline: none;
    margin-right: 20px;
    color: aliceblue;
    border-radius: 3px;
    &:first-child {
      background: teal;
    }
    &:last-child {
      background: tomato;
    }
    &:hover {
      background: #555;
    }
  }
}
