table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

.deleteEdit {
  display: flex;
  justify-content: flex-end;
  button {
    font-family: 'Nunito', sans-serif;
    height: 40px;
    width: 80px;
    border: none;
    outline: none;
    margin-right: 20px;
    color: aliceblue;
    border-radius: 3px;
    &:first-child {
      background: teal;
    }
    &:last-child {
      background: tomato;
    }
    &:hover {
      background: #555;
    }
  }
}
